
  html, body {width: 98vw; height: 98vh;
  background-color: #333;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  
    background: transparent;  
}

::-webkit-scrollbar-thumb {
    background: #000000;
}

  .second{
       background-color: rgb(0, 255, 106);
       width: 100%;
       height: 40%;
       float: left;
       }
*{
margin:0;
padding:0;
}



.logo{
width:50%;
float: left;
color:#fff;
font-weight: bold;
text-transform: uppercase;
line-height:60px;
font-size: 35px;
font-family: sans-serif;
}

nav{
width: 68%;
float: right;
position: sticky; top: 0;
}
.nav2 {
  float: left;
position: sticky; top: 0;

}
nav ul li{
display : block;
position:relative;
float: right;
}
nav ul li a{
text-decoration: none;
color: #fff; 
font-family: sans-serif;
font-weight: bold;
margin: 0 10px;
line-height: 60px;
text-transform: uppercase;
}
.parent {display: block;
	position: relative;
	float: left;
  line-height:30px;
	width: 100%;
	
}
.parent a{
  margin: 10px;color: #FFFFFF;
  text-decoration: none;}

.parent:hover > ul {
  display:block;
  position: absolute;
}

.child {
  display: none;
}

.child li {
  background-color: #E4EFF7;
  line-height: 30px;
  border-bottom:#CCC 1px solid;
  border-right:#CCC 1px solid;
  width:100%;}

.child li a{
  color: #000000;
}

ul{list-style: none;margin: 0;
  padding: 0px;
  min-width:10em;
}
ul ul ul{
  left: 100%;top: 0;
  margin-left:1px;
}

li:hover {
  background-color: #5e5e5e;
  
}

.parent li:hover {
  background-color: #F0F0F0;
}

.expand{
  font-size:12px;
  float:right;
  margin-right:5px;
}

.banner {
height: 100%;
}
.banner img{
width:100%;
height:90vh;
}
.content {
padding:5%;
}
.content p{
font-size:18px;
line-height: 1.7;
font-family: sans-serif;
margin-bottom: 25px;
padding: 16px;
}

header{
height: 70px;
background:#161A1C;
}

* {
  font-family: Open Sans;
}

section {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
  background:  #161A1C;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-left{
  width: 40%;
}

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  rgb(255, 255, 255);
}


.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}



.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  rgb(255, 255, 255);
  text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}


.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #161A1C;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}

img{
width: 100%;
height: 55px;
float: left;
}

.imglogo1{
width: 55px;
height: 55px;
float: left;
}
.icon1{
width: 35px;
height: 35px;
float: left;

}
.image1, coffee3.png{
width: 100%;
height: 700px;
float: left;
}

.h2{
  color:white
}


#navbar {
  overflow: hidden;
  background-color: #161A1C;
 
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

#navbar a {
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 5px;
  padding: 1rem;
  text-decoration: none;
  font-size: 20px; 
  line-height: 25px;
  border-radius: 4px;
}

#navbar #logo {
  font-size: 35px;
  font-weight: bold;
   text-align: center;
  transition: 0.4s;
  color: rgb(255, 255, 255);
}

#navbar-right {
  float: right;
  padding: 5px;
  margin: 10px
}
.img2 {
  height: 50%;
  width: 100%;
  align-items: center;
}